<html>
  <head>
    <title>Video for education</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="app">
      <span v-if="errMessage" class="err-message">{{errMessage}}</span>
      <input v-model="courseUrl" >
      <button
        v-on:click="crawlCourse"
        v-bind:disabled="isRequesting">Get
      </button>

      <h3>Course đã thêm:</h3>
      <div>
        <course-item v-for="course in courses" v-bind:course="course"></course-item>
      </div>

      <h3>Video đã tải:</h3>
      <div>
        <video-item v-for="video in videos" v-bind:video="video"></video-item>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
